
body {
	margin: 0;
	font-family: Ariel, Helvetica, sans-serif;
	background-color: rgb(145, 229, 187);
  }

  h1 {
	  font-size: 40px;
	  font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
	overflow: hidden;
	background-color: rgb(65, 180, 136);
	position: fixed;
	width: 100%;
	top: 0;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }

  .topnav img {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }

  .topnav img:hover{
	box-shadow: none;
	transform: none;
}
  
  .topnav a:hover {
	background-color: #ddd;
	color: rgb(21, 90, 180);
  }
  
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }
  /* .imagesClass {
	align-items: center;
	border: 3px solid #73AD21;
  } */
img{
	margin-left: center;
	margin-right: center;
	float: center;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
img:hover{
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.5);
}
 /* #photos {
	display: inline;
} */
section{
	align-items: center;
	text-align: center;
} 
.column {
	float: left;
	width: 10.33%;
	padding: 50px;
  }
  
  .row::after {
	content: "";
	clear: both;
	display: table;
	align-self: center;
  }